* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  background-color: rgb(247, 234, 234);
}

header {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background-color: #0d6efd;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 8px;
}

.btn:hover {
  background-color: #18407c;
  cursor: pointer;
  transition: 0.8s;
}


#section-1 {
  width: 70%;
  margin: 50px auto;
}

#section-1 > h1 {
  font-size: 55px;
  font-weight: 800;
  text-shadow: 2px 2px 8px #b17575;
  text-align: center;
  margin-bottom: 25px;
}

#section-1 > p {
  width: 60%;
  margin: 0 auto;
  color: #706f6f;
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}

#buy-now-btn-container {
  display: flex;
  justify-content: center;
}

#section-2 {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 50px auto;
}

#section-2 > img {
  width: 100%;
}
